{% extends 'blog/header.html'%}
{%block title%}Доступные мощности{%endblock%}
{% block content %}
<div  class="container page-content powers-content">
	<div class="page-grid">
	<div class="block page-body powers">
<h4>Водоснабжение</h4>
<div class="map">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8fd5d0137a0377c41ad45337cdba15c3c65e890e56557903559a0a552e27cfc2&amp;width=100%&amp;height=436&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
<h4>Водоотведение</h4>
<div class="map">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6da02be23c9d9ef09a1e8d90b5693803b1ef9ae8e83a2692db0a90a18c2e5207&amp;width=100%&amp;height=458&amp;lang=ru_RU&amp;scroll=true"></script>
</div>

	</div>
	</div>
	</div>

{% endblock %}
