{% extends "blog/header.html"%}
{%block title%} Информация для абонентов {% endblock %}
{% block content %}

<div class="container page-content content-menu-only">
  <div class="page-grid grid-menu-only">

    <div class="block page-body page-body-menu-only">
      <ul class="page-menu-items">
        <a href="#"><li>Руководство</li></a>
        <a href="#"><li>История</li></a>
        <a href="#"><li>Показатели, подлежащие раскрытию</li></a>
        <a href="vacancy/"><li>Вакансии</li></a>
        <a href="#"><li>Контакты</li></a>
        <a href="#"><li>Реквезиты</li></a>
        <a href="#"><li>Схема проезда</li></a>
      </ul>
    </div>

  </div>



</div>
{% endblock %}
