{% extends "blog/header.html"%}
{%block title%} Информация для абонентов {% endblock %}
{% block content %}

<div class="container page-content content-menu-only">
  <div class="page-grid grid-menu-only">

    <div class="block page-body page-body-menu-only">
      <ul class="page-menu-items">
        <a id="button" href="#" onclick="test(self)"><li>Бланки заявок, договоров и другие документы</li></a>
        <a href="#"><li>Тарифы — отдельно для каждого населенного пункта</li></a>
        <a href="#"><li>Нормативы водоотведения по составу сточных вод</li></a>
        <a href="#"><li>Нормативы потребления коммунальных услуг</li></a>
        <a href="#"><li>Адреса и телефоны точек обслуживания абонентов</li></a>
      </ul>
    </div>

  </div>



</div>
{% endblock %}
