{% extends 'blog/header.html'%}

{% block content %}
<div  class="container page-content">
	<div class="page-grid">
	<div class="block page-body tehpris">
	
<h3 style="letter-spacing: 4px; word-spacing: 4px;">Технологическое присоединение объектов капитального строительства к централизованным системам холодного водоснабжения и водоотведения</h3>

	<p>На территории Петропавловска-Камчатского городского округа, Елизовского муниципального района и Мильковского муниципального района гарантирующей организацией является КГУП "Камчатский водоканал", в компетенцию которой входят функции по технологическому присоединению объектов Заявителей к централизованным системам холодного водоснабжения и водоотведения</p>
<div style="border-bottom: solid 1px black; padding-bottom: 2%;" class="warning">
	<div>!</div>
<p><span style="text-decoration: underline; ">Обращаем внимание!!!</span> КГУП «Камчатский водоканал» не осуществляет подключение объектов капитального строительства к системам горячего водоснабжения</p>

</div>
<div style="border-bottom: solid 1px black; padding: 0 2%; ">
<p style="text-align: center;"><b>Основными законодательными актами, регулирующими деятельность КГУП «Камчатский водоканал» в области подключения (технологического присоединения) к централизованным системам холодного водоснабжения и (или) водоотведения, являются:</b></p>
<ul class="tp-list" style="text-decoration: none; font-family: roboto;">
<li><a href="#">Постановление Правительства РФ от 29.07.2013г. №644 (ред. от 29.06.2017г.) «Об утверждении Правил холодного водоснабжения и водоотведения и о внесении изменений в некоторые акты Правительства Российской Федерации»</a></li>
<li><a href="#">Постановление Правительства РФ от 29.07.2013г. №645 «Об утверждении типовых договоров в области холодного водоснабжения и водоотведения» (с изменениями и дополнениями)</a></li>
<li><a href="#">Постановление Правительства РФ от 03.11.2016г. №1134 «О вопросах осуществления холодного водоснабжения и водоотведения»</a></li>
<li><a href="#">Постановление Правительства РФ от 07.12.2011г. №416 (ред. от 29.07.2017г.) «О водоснабжении и водоотведении»</a></li>
<li><a href="#">Постановление Правительства РФ от 13.02.2016г. №83 (ред. от 19.06.2017г.) «Об утверждении Правил определения и предоставления технических условий подключения объекта капитального строительства к сетям инженерно-технического обеспечения и Правил подключения объекта капитального строительства к сетям инженерно-технического обеспечения</a></li>
<li><a href="#">Приказ ФСТ России от 27.12.2013г. №1746-э (ред. от 27.05.2015г.) «Об утверждении Методических указаний по расчету регулируемых тарифов в сфере водоснабжения и водоотведения»</a></li>
<li><a href="#">Постановление Правительства РФ от 24.01.2017г. №54 «О внесении изменений в некоторые акты Правительства Российской Федерации»</a></li>
<li><a href="#">Постановление Правительства РФ от 13.05.2013г. №406 (ред. от 17.11.2017) «О государственном регулировании тарифов в сфере водоснабжения и водоотведения»</a></li>
</ul>
</div>
<div style="border-bottom: solid 1px black;  padding: 0 2%; ">
<p style="text-align: center;"><b>Прием Заявителей (правообладателей) на технологическое присоединение осуществляется:</b></p>
<ul class="tp-list" style="text-decoration: none; font-family: roboto;">
<li>в Едином расчетном центре КГУП «Камчатский водоканал» (в режиме «одного окна»), по адресу: 683032, г. Петропавловск-Камчатский, ул. Пограничная д. 17, (приемные дни: понедельник – четверг с 9:00 до 18:00, пятница с 9:00 до 17:00 без перерыва на обед).</li>
<li>в Петропавловском филиале КГКУ «МФЦ Камчатского края» по адресу: г. Петропавловск-Камчатский, ул. Савченко, 23 (приемные дни: понедельник, вторник, четверг, пятница с 9:00 до 19:00, среда с 9:00 до 20:00, суббота с 10:00 до 14:00 без перерыва на обед).</li>
<li>в ДО Петропавловского филиала КГКУ «МФЦ Камчатского края» по адресу: г. Петропавловск-Камчатский, ул. Пограничная, 17 (приемные дни: понедельник, вторник, четверг, пятница с 9:00 до 19:00, среда с 9:00 до 20:00, суббота с 10:00 до 14:00 без перерыва на обед).</li>
<li>в ДО Петропавловского филиала КГКУ «МФЦ Камчатского края» по адресу г. Петропавловск-Камчатский, ул. Океанская, 94 (приемные дни: понедельник, вторник, четверг, пятница с 9:00 до 19:00, среда с 9:00 до 20:00, суббота с 10:00 до 14:00 без перерыва на обед).</li>
<li><a href="#">в электронном виде через портал КГУП «Камчатский водоканал»</a></li>
</ul>
</div>


	</div>

	<div class="tp-menu page-left-menu block">
		<div class="tp-buttons-grid">
			<a href="" class="button button-tp">Схема действий Заказчика (Заявителя)</a>
			<a href="" class="button button-tp">Регистрация и подача заявления о подключении (технологическом присоединении)</a>
			<a href="" class="button button-tp">Калькулятор</a>
			<a href="aviable-powers/" class="button button-tp">Доступные мощности</a>
			<a href="" class="button button-tp">Регламент</a>
		</div>
	</div>
	</div>
	</div>

{% endblock %}
