{%include "blog/header.html" %}
{%load static%}




  <div class="container main-content">

  <div class="block news">
    <h3>Новости</h3>
{%for post in posts %}
<p><a href="{% url 'post_single_url' slug=post.slug %}"><b>{{post.date_pub}}</b> | {{post.title}}</a></p>
{%endfor%}
<a href="{% url 'news_url' %}"><p style="text-transform: uppercase;"><b>смотреть все...</b></p></a>

  </div>

  <div class="block numbers">
    <h3>Контакты</h3>
    <p>Дежурный диспечтер: 21-87-24 </p>
    <p>Служба одного окна: 21-86-04  </p>
    <p>Приемная: 21-86-28 </p>
    <p>EMAIL: priemnaya@pkvoda.ru</p>
    <details>
      <summary class="button zapys"> График приема руководства предприятия </summary>
<div class="grafic">
<p><b>Кошкарев Андрей Владимирович</b></p>
      <p>Директор предприятия</p>
    <p>2-ая и 4-ая среда месяца: 16:00-17:00</p>
    <div style=" margin-bottom: 1%; float: left; width: 100%;  border-bottom: 1px solid black;"></div>
<p><b>Супрун Анастасия Сергеевна</b></p>
  <p>Первый заместитель директора</p>
        <p>Понедельник: 16:00-17:00</p>
<div style="margin-bottom: 1%;  float: left; width: 100%;  border-bottom: 1px solid black;"></div>

<p><b>Сухоруков Виктор Алексеевич</b></p>
<p>Заместитель директора по безопасности и режиму</p>
    <p>Среда: 16:00-17:00</p>
<div style="margin-bottom: 1%;  float: left; width: 100%;  border-bottom: 1px solid black;"></div>

<p><b>Луговых Денис Львович</b></p>
      <p>Главный инженер</p>
<p>Вторник: 16:00-17:00</p>
  <p>Четверг: 16:00-17:00</p>
  <div style="margin-bottom: 1%;  float: left; width: 100%;  border-bottom: 1px solid black;"></div>
<p>Предварительная запись по телефону: 21-86-28, факс: 21-86-29</p>

</div>
    </details>

  </div>


  <div class="block sidebar-wateroff ">
    <h3><span style="color: red;">Важно!</span> Информация об отключении ХВС</h3>
    <div class="grid-wateroff">
    
    {% for post in pnhvs %}

    {% include "blog/post-hvs.html" %}

  {%endfor%}
  </div>
</div>
<div class="block sidebar-contacts">
<h3>Адреса и телефоны точек обслуживания абонентов</h3>
</div>






























        <!-- <div class="main">
        <div class="container">
<div class="news">
<div class="grid">
{% for post in posts.object_list %}

{% include "blog/post.html" %}

{%endfor%}

</div>
<nav  aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>

    </li>
    {% for n in posts.paginator.page_range %}
      {% if posts.number == n %}
      <li class="page-item active"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
      {%else%}


    <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
    {%endif%}
    {%endfor%}
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>




  <div class="sidebar" id="right-1">
    <h1>информация об отключениях хвс</h1>
    {% for post in pnhvs %}

    {% include "blog/post-hvs.html" %}

  {%endfor%}


  </div>













      </div> -->
















</html>
