{%extends "blog/header.html" %}
{% block title %}Информация для УК и собственников{% endblock %}

{% block content%}
{%load static%}


<div class="container block ukinfo-content">
  <div class="news-grid ukinfo-grid">
{% for post in post %}
<div class="post ukinfo">
  <p class="date">{{post.date_pub}}</p>
  <h4 class="title"><a href="{% url 'post_single_url' slug=post.slug %}">{{post.title}}</a></h4>
  <div class="body">{%autoescape off%}{{post.body|truncatechars:550}}{%endautoescape%}</div>
</div>
{%endfor%}
</div>
</div>
{% endblock %}
